[phases.setup]
# Changed nodejs_20 to nodejs_22 to satisfy Vite requirements
nixPkgs = ["nodejs_22", "chromium"]

[phases.install]
# Installs dependencies for root AND client folder
cmds = ["npm ci", "cd client && npm ci"]

[phases.build]
cmds = ["npm run build"]

[env]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/usr/bin/chromium"

[start]
cmd = "npm start"